{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "type": "./src/type"
        }
      }
    ],
    [
      "transform-inline-environment-variables",
      {
        "include": ["NODE_ENV", "VERSION", "PATHNAME_BASE"]
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread",
    "emotion",
    ["transform-react-jsx", { "pragma": "h" }]
  ],
  "presets": ["flow"],
  "env": {
    "production": {
      "plugins": [
        "transform-class-properties",
        [
          "transform-runtime",
          {
            "helpers": false,
            "polyfill": false,
            "regenerator": true,
            "moduleName": "babel-runtime"
          }
        ],
        "transform-async-to-generator"
      ],
      "presets": [
        [
          "env",
          {
            "targets": {
              "browsers": ["last 2 versions", "safari >= 7"]
            },
            "loose": true,
            "module": false
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        [
          "flow-runtime",
          {
            "assert": false,
            "annotate": false
          }
        ],
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
