{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "~": "./src",
          "type": "./src/type"
        }
      }
    ],
    [
      "flow-runtime",
      {
        "assert": false,
        "annotate": false
      }
    ],
    [
      "transform-inline-environment-variables",
      {
        "include": ["NODE_ENV", "VERSION", "PATHNAME_BASE"]
      }
    ],
    "transform-class-properties",
    "transform-object-rest-spread",
    "emotion",
    ["transform-react-jsx", { "pragma": "h" }]
  ],
  "presets": ["flow"],
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
